<title>Edit Task</title>
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<!-- Clarity Section -->
<div class="container" style="background-color:#f1f1f1" >
  <div class="row">
    <div class="column-66">
      <p class="large-font" style="color:orange;"><b>Edit Task</b></p>
      <%= link_to "My Tasks", tasks_path, :class => 'navbar-link'%><br><br>
    </div>
  </div>
</div>
</body>
</html>