<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}
</style>
</head>
<body>

<!-- Clarity Section -->
<div class="container" style="background-color:#f1f1f1" >
  <div class="row-30">
    <div class="column-1">
      <p class="large-font" style="color:darkblue;"><b>Projects</b></p>
      <%= link_to "Create Project",new_project_path %>
      <table cellpadding="20">
      <tr>
      <th>User Name</th>
      <th>Project Name</th>
      <th>Project Type</th>
      </tr>
      <% @project.each do |data| %>
      <tr>
      <td><%= current_user.name %></td>
      <td><%= data.name %></td>
      <td><%= data.project_type %></td>
      </tr>
      <% end %>                  
      </table>
    </div>
  </div>
</div>
</body>
</html>