<!DOCTYPE html>
<html>
<head>
	<title>Show Tasks</title>
</head>
<body>
<h1>Show Files</h1>

   <table cellpadding="20">
      <tr>
      <th>Image</th>
      </tr>
      <tr>
      <td><%= image_tag @project_attachment.avatar.url() %></td>
      </tr>
      </table>


</body>
</html>